noscript
    p Please enable Javascript
    
header.header
    // <%
    //     if (true)
    //         nice()
    //     else
    // %>
    ul
        li
            a
                // <% f() %>
    // <%
    //         jopa()
    // %>
