doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
            
        main
        .container
            .row
                button.button grgr
                button.button grgr
                button.button grgr
                button.button grgr
                button.button grgr
                button.button gr
        
        include ../blocks/footer/footer.jade
