doctype html
html(lang="ru")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade

        main 312312312432gergerfewf3


        include ../blocks/footer/footer.jade
