doctype html
html(lang="en")
    include ../blocks/head/head.jade
    body
        include ../blocks/header/header.jade
            
        main
        .container
            
            
        
        include ../blocks/footer/footer.jade
